/**Logo in top left**/
#logo {
    position:absolute;
    left:0;
    top:0;
}


/**navigation bar**/
nav {
    background-color:aquamarine;
    list-style-type:none;
}
/**this edits the li items that are in ol and in nav**/
nav ol li a{
    display:inline-block;
    
}


/**when hovering over it will change color**/
nav a:hover{
    background-color:black;
    
}
/**positions the header in the top middle of the page**/
 h1 {
     position: center;
     margin-left: 40px;
 }

