/**Logo in top left**/
#logo {
    position:absolute;
    left:0;
    top:0;
}

/**navigation bar**/
nav {
    background-color:aquamarine;
    list-style-type:none;
}
/**this edits the li items that are in ol and in nav**/
nav ol li {
    display:inline-block;
}


/**when hovering over it will change color**/
nav a:hover{
    background-color:black;
    
}



